[Unit]
Description=Overlay fishtank's docker to /usr/bin
Before=local-fs.target

[Mount]
What=overlay
Where=/usr/bin
Type=overlay
Options=lowerdir=/var/lib/fishtank/docker:/usr/bin

[Install]
WantedBy=local-fs.target
