[Unit]
Description=Docker-in-Podman (Dip) quadlet
After=network-online.target
Wants=network-online.target

[Container]
Image=docker:dind

PodmanArgs=--privileged

AddCapability=ALL
DropCapability=

NoNewPrivileges=false

SeccompProfile=unconfined
SecurityLabelDisable=true
SecurityLabelType=unconfined_t

Volume=/var/lib/fishtank/dockerd:/var/run:z
Volume=/home:/home:z
Volume=/etc:/host/etc:z
Volume=/var:/host/var:z


# Volume=docker-dind-data:/var/lib/docker

Network=host

StopTimeout=30

Label=app=docker
Label=fishtank

[Service]
RuntimeDirectory=fishtank
StateDirectory=fishtank/dockerd
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target