[Unit]
Description=Fishtank's virt stack
After=network-online.target local-fs.target

[Container]
Image=localhost/qemu:3
Pull=never
AutoUpdate=registry
Network=host

Mount=type=bind,source=/etc/passwd,destination=/etc/passwd,ro
Mount=type=bind,source=/etc/group,destination=/etc/group,ro

PodmanArgs=--privileged --cgroupns=host --security-opt label=disable --security-opt apparmor=unconfined --pid=host

# Dbus
Mount=type=bind,source=/var/run/dbus/system_bus_socket,destination=/run/dbus/system_bus_socket

# UDev
Mount=type=bind,source=/var/run/udev,destination=/run/udev,ro

# KVM, USB Devices and OpenGL
AddDevice=/dev/kvm
AddDevice=/dev/bus/usb
Mount=type=bind,source=/dev/dri,destination=/dev/dri
Mount=type=bind,source=/var/lib/fishtank/libvirtd,destination=/run/libvirt

# Storage
Mount=type=bind,source=/var/lib/fishtank/libvirt-images,destination=/var/lib/libvirt
Volume=/var/lib/fishtank/libvirt-etc:/etc/libvirt:Z

Exec=sh -c "virtlogd -d && libvirtd"

[Install]
WantedBy=multi-user.target

[Service]
RuntimeDirectory=fishtank
StateDirectory=fishtank/libvirtd fishtank/libvirt-images fishtank/libvirt-etc
ExecStartPre=/bin/sh -c "echo 'SUBSYSTEM==\"usb\", ENV{DEVTYPE}==\"usb_device\", MODE=\"0666\"' > /etc/udev/rules.d/50-spice-usb.rules && udevadm control --reload-rules && udevadm trigger"